In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/hotel_reviews.csv")
df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [4]:
df[["Review_Date"]].dtypes

Review_Date    object
dtype: object

In [5]:
df["Review_Date"] = pd.to_datetime(df["Review_Date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  datetime64[ns]
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(5), object(7)
memory usage: 66.9+ MB

In [6]:
len(df)-len(df.drop_duplicates())

526

In [7]:
duplicates = df[df.duplicated(subset=None, keep='first')]
duplicates.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
23704,100 110 Euston Road Camden London NW1 2AJ Unit...,728,2017-02-25,8.9,Pullman London St Pancras,China,none,2,3168,good location and super nice staff room is bi...,13,39,9.6,"[' Business trip ', ' Solo traveler ', ' Class...",159 day,51.528677,-0.128349
61876,16 22 Great Russell Street Camden London WC1B ...,300,2017-07-27,9.0,The Bloomsbury Hotel,Israel,No Negative,0,1254,The attention received by Sebastian and his t...,12,4,9.6,"[' Leisure trip ', ' Couple ', ' Superior Doub...",7 days,51.517167,-0.129053
68967,167 rue de Rome 17th arr 75017 Paris France,11,2017-06-23,6.8,Villa Eugenie,Netherlands,Location is very old not invested in past yea...,41,165,Location is central accessible by train parki...,12,24,4.6,"[' Business trip ', ' Solo traveler ', ' Singl...",41 days,48.887128,2.314205
68968,167 rue de Rome 17th arr 75017 Paris France,11,2017-04-27,6.8,Villa Eugenie,United Kingdom,This hotel I don t think so is 4 star B B hav...,93,165,Nothing,2,10,2.5,"[' Business trip ', ' Solo traveler ', ' Singl...",98 days,48.887128,2.314205
68969,167 rue de Rome 17th arr 75017 Paris France,11,2017-03-04,6.8,Villa Eugenie,South Africa,The staff were not helpful at all It took us ...,69,165,Near bus terminal,4,4,5.0,"[' Leisure trip ', ' Couple ', ' Twin Room ', ...",152 day,48.887128,2.314205

In [8]:
df = df.drop_duplicates()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 515212 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515212 non-null  object
 1   Additional_Number_of_Scoring                515212 non-null  int64
 2   Review_Date                                 515212 non-null  datetime64[ns]
 3   Average_Score                               515212 non-null  float64
 4   Hotel_Name                                  515212 non-null  object
 5   Reviewer_Nationality                        515212 non-null  object
 6   Negative_Review                             515212 non-null  object
 7   Review_Total_Negative_Word_Counts           515212 non-null  int64
 8   Total_Number_of_Reviews                     515212 non-null  int64
 9   Positive_Review                             515212 non-null  object
 10  Review_Total_Positive_Word_Counts           515212 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515212 non-null  int64
 12  Reviewer_Score                              515212 non-null  float64
 13  Tags                                        515212 non-null  object
 14  days_since_review                           515212 non-null  object
 15  lat                                         511944 non-null  float64
 16  lng                                         511944 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(5), object(7)
memory usage: 70.8+ MB

In [10]:
def missing_values_summary(df):
    missing_counts = df.isnull().sum()
    total_count = df.shape[0]  # Total number of rows in the DataFrame

    missing_df = pd.DataFrame({'Column': missing_counts.index, 'Missing Count': missing_counts.values})
    missing_df['Missing Percentage'] = (missing_df['Missing Count'] / total_count) * 100

    return missing_df

In [11]:
missing_values_summary(df)

,Column,Missing Count,Missing Percentage
0,Hotel_Address,0,0.000000
1,Additional_Number_of_Scoring,0,0.000000
2,Review_Date,0,0.000000
3,Average_Score,0,0.000000
4,Hotel_Name,0,0.000000
5,Reviewer_Nationality,0,0.000000
6,Negative_Review,0,0.000000
7,Review_Total_Negative_Word_Counts,0,0.000000
8,Total_Number_of_Reviews,0,0.000000
9,Positive_Review,0,0.000000
10,Review_Total_Positive_Word_Counts,0,0.000000
11,Total_Number_of_Reviews_Reviewer_Has_Given,0,0.000000
12,Reviewer_Score,0,0.000000
13,Tags,0,0.000000
14,days_since_review,0,0.000000
15,lat,3268,0.634302
16,lng,3268,0.634302

In [12]:
df = df.dropna()

In [13]:
missing_values_summary(df)

,Column,Missing Count,Missing Percentage
0,Hotel_Address,0,0.0
1,Additional_Number_of_Scoring,0,0.0
2,Review_Date,0,0.0
3,Average_Score,0,0.0
4,Hotel_Name,0,0.0
5,Reviewer_Nationality,0,0.0
6,Negative_Review,0,0.0
7,Review_Total_Negative_Word_Counts,0,0.0
8,Total_Number_of_Reviews,0,0.0
9,Positive_Review,0,0.0
10,Review_Total_Positive_Word_Counts,0,0.0
11,Total_Number_of_Reviews_Reviewer_Has_Given,0,0.0
12,Reviewer_Score,0,0.0
13,Tags,0,0.0
14,days_since_review,0,0.0
15,lat,0,0.0
16,lng,0,0.0

In [14]:
df['Hotel_Address'] = df['Hotel_Address'].str.replace('United Kingdom', 'UK')

In [15]:
set(df['Hotel_Address'])

{'Schottenfeldgasse 74 07 Neubau 1070 Vienna Austria',
 '4 rue Cadet 9th arr 75009 Paris France',
 '10 rue Chateaubriand 8th arr 75008 Paris France',
 '4 Rue De Valois 1st arr 75001 Paris France',
 '6 Rue Constance 18th arr 75018 Paris France',
 '35 St James s Place Westminster Borough London SW1A 1NY UK',
 '3 rue Lepic 18th arr 75018 Paris France',
 '14 Rue St Simon 7th arr 75007 Paris France',
 'Van Leijenberghlaan 221 Zuideramstel 1082 GG Amsterdam Netherlands',
 '41 Queens Gate Gardens Kensington and Chelsea London SW7 5NB UK',
 '17 25 Sloane Street Knightsbridge Kensington and Chelsea London SW1X 9NU UK',
 'Kirchengasse 41 07 Neubau 1070 Vienna Austria',
 'Corso Sempione 69 Fiera Milano City 20149 Milan Italy',
 'Ndsm Plein 28 Amsterdam Noord 1033 WB Amsterdam Netherlands',
 'Rambla del Raval 17 21 Ciutat Vella 08001 Barcelona Spain',
 '7 Pepys Street City of London London EC3N 4AF UK',
 '1 Shortlands Hammersmith and Fulham London W6 8DR UK',
 '1 Suffolk Place Westminster Borough London SW1Y 4HX UK',
 '7 9 Rue Pierre Chausson 10th arr 75010 Paris France',
 'Muntaner 352 Sarri St Gervasi 08021 Barcelona Spain',
 '177 Boulevard Haussmann 8th arr 75008 Paris France',
 'D u i Mata 66 99 Les Corts 08029 Barcelona Spain',
 'Sonnwendgasse 15 10 Favoriten 1100 Vienna Austria',
 '5 Fairmont Avenue Canary Wharf Tower Hamlets London E14 9JB UK',
 '30 Rathbone Street West End Westminster Borough London W1T 1LB UK',
 'Hintschiggasse 1 10 Favoriten 1100 Vienna Austria',
 '98 Rue De Clery 2nd arr 75002 Paris France',
 '41 Rue Des Ecoles 5th arr 75005 Paris France',
 'Via Manin 7 Milan City Center 20121 Milan Italy',
 '56 57 Frith Street Westminster Borough London W1D 3JG UK',
 'V a Augusta 127 Sarri St Gervasi 08006 Barcelona Spain',
 'Avenida Diagonal 661 671 Les Corts 08028 Barcelona Spain',
 '3 rue Clauzel 9th arr 75009 Paris France',
 '10 Rue Kepler 16th arr 75016 Paris France',
 '27 Devonshire Terrace Westminster Borough London W2 3DP UK',
 '15 Boulevard Romain Rolland 14th arr 75014 Paris France',
 'Tiefer Graben 14 20 01 Innere Stadt 1010 Vienna Austria',
 'Viale Isonzo 14 Porta Romana 20135 Milan Italy',
 'Distelkade 21 Amsterdam Noord 1031 XP Amsterdam Netherlands',
 '37 rue Fran ois 1er 8th arr 75008 Paris France',
 'Viale Fulvio Testi 300 Bicocca Zara 20126 Milan Italy',
 'Via Giovanni Battista Fauch Sempione 20154 Milan Italy',
 'Viale Bligny 56 Milan City Center 20136 Milan Italy',
 '95 Rue de Richelieu 2nd arr 75002 Paris France',
 'Spuistraat 175 Amsterdam City Center 1012 VN Amsterdam Netherlands',
 '43 Worple Road Wimbledon London SW19 4JZ UK',
 '163 Marsh Wall Docklands Tower Hamlets London E14 9SJ UK',
 'Mallorca 1 23 Sants Montju c 08014 Barcelona Spain',
 '100 Cromwell Road Kensington and Chelsea London SW7 4ER UK',
 'Noorderstraat 46 Amsterdam City Center 1017 TV Amsterdam Netherlands',
 'Herrengasse 10 01 Innere Stadt 1010 Vienna Austria',
 '2 place des Pyramides 1st arr 75001 Paris France',
 '6 Waterloo Place Westminster Borough London SW1Y 4AN UK',
 '86 Park Lane Westminster Borough London W1K 7TN UK',
 '19 Rue Copernic 16th arr 75016 Paris France',
 'Ramon Turr 196 198 Sant Mart 08005 Barcelona Spain',
 '53 Park Lane Westminster Borough London W1K 1QA UK',
 'Loreto 28 Les Corts 08029 Barcelona Spain',
 '40 Marsh Wall Tower Hamlets London E14 9TP UK',
 '40 Rue Rene Boulanger 10th arr 75010 Paris France',
 '19 Rue Du Pont Neuf 1st arr 75001 Paris France',
 '4 Boulevard Brune 14th arr 75014 Paris France',
 '199 206 High Holborn Camden London WC1V 7BD UK',
 '23 Rue Vignon 8th arr 75008 Paris France',
 '6 Holywell Lane Hackney London EC2A 3ET UK',
 'Rossell 390 Eixample 08025 Barcelona Spain',
 'Via Laietana 42 Ciutat Vella 08003 Barcelona Spain',
 '3 South Place City of London London EC2M 2AF UK',
 '15 rue de Constantinople 8th arr 75008 Paris France',
 'Bryanston Street Marble Arch Westminster Borough London W1H 7EH UK',
 '2 Rue De Parme 9th arr 75009 Paris France',
 '69 Boulevard Victor 15th arr 75015 Paris France',
 'Plaza Espa a 6 8 Sants Montju c 08014 Barcelona Spain',
 '109 113 Queen s Gate Kensington and Chelsea London SW7 5LR UK',
 '46 Blackfriars Road Southwark London SE1 8NZ UK',
 '81 boulevard Gouvion Saint Cyr 17th arr 75017 Paris France',
 '13 rue Saint Sulpice 6th arr 75006 Paris France',
 'Crist bal de Moura 138 Sant Mart 08019 Barcelona Spain',
 '112 boulevard de S bastopol 3rd arr 75003 Paris France',
 '9 Rue Littr 6th arr 75006 Paris France',
 '2 8 Hanger Lane Ealing Common London W5 3HN UK',
 '16 Sumner Place Kensington and Chelsea London SW7 3EG UK',
 '10 Carlisle Street Westminster Borough London W1D 3BR UK',
 'One Eastern Gateway Royal Victoria Dock Newham London E16 1FR UK',
 'Ferdinand Bolstraat 194 Oud Zuid 1072 LW Amsterdam Netherlands',
 '40 rue Liancourt 14th arr 75014 Paris France',
 '181 Cromwell Road Kensington and Chelsea London SW5 0SF UK',
 '41 Buckingham Palace Road Westminster Borough London SW1W 0PS UK',
 'K rntner Ring 8 01 Innere Stadt 1010 Vienna Austria',
 '97 Great Russell Street Bloomsbury Camden London WC1B 3LB UK',
 '59 Leinster Square Kensington and Chelsea London W2 4PS UK',
 'Rennweg 12 03 Landstra e 1030 Vienna Austria',
 '17 Boulevard Saint Jacques 14th arr 75014 Paris France',
 'Via Cusani 13 Milan City Center 20121 Milan Italy',
 '8 Rue Cambon 1st arr 75001 Paris France',
 '15 Rue Des Pyramides 1st arr 75001 Paris France',
 '43 Rue des Mathurins 8th arr 75008 Paris France',
 '51 rue Letort 18th arr 75018 Paris France',
 '2 Rue Racine 6th arr 75006 Paris France',
 '11 rue de Tr vise 9th arr 75009 Paris France',
 '2 Rue Duperr 9th arr 75009 Paris France',
 'Lope de Vega 4 Sant Mart 08005 Barcelona Spain',
 '33 Albemarle Street Mayfair Westminster Borough London W1S 4BP UK',
 '44 rue de Bourgogne 7th arr 75007 Paris France',
 '58 Shepherds Bush Green Hammersmith and Fulham London W12 8QE UK',
 '37 Avenue Hoche 8th arr 75008 Paris France',
 '34 37 Bedford Place Bloomsbury Camden London WC1B 5JR UK',
 '97 rue Lauriston 16th arr 75016 Paris France',
 '68 Regent Street West End Mayfair Westminster Borough London W1B 4DY UK',
 '12 rue de la Montagne Sainte Genevi ve 5th arr 75005 Paris France',
 '28 Basil Street Kensington and Chelsea London SW3 1AS UK',
 'Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 Vienna Austria',
 '2 Rue Scribe 9th arr 75009 Paris France',
 'Beltran i R zpide 7 9 Les Corts 08034 Barcelona Spain',
 '3 Kingdom Street Sheldon Square Westminster Borough London W2 6BD UK',
 '113 Lambeth Rd Lambeth London SE1 7LS UK',
 '8 Northumberland Avenue Westminster Borough London WC2N 5BY UK',
 '2 Bd Garibaldi 15th arr 75015 Paris France',
 'Dijsselhofplantsoen 7 Oud Zuid 1077 BJ Amsterdam Netherlands',
 'Via Mauro Macchi 1 Central Station 20124 Milan Italy',
 'Balmes 103 105 Eixample 08008 Barcelona Spain',
 '147 Cromwell Road Kensington and Chelsea London SW5 0TH UK',
 '26 28 Trebovir Rd Kensington and Chelsea London SW5 9NJ UK',
 'Via Tarchetti 2 Milan City Center 20121 Milan Italy',
 'Paral lel 115 Sants Montju c 08004 Barcelona Spain',
 '33 place de la Madeleine 8th arr 75008 Paris France',
 '35 Rue Jean Goujon 8th arr 75008 Paris France',
 '8 rue de Verneuil 7th arr 75007 Paris France',
 'Rathausstra e 17 01 Innere Stadt 1010 Vienna Austria',
 'Filmteichstra e 5 10 Favoriten 1100 Vienna Austria',
 'Via A de Tocqueville 7 D Garibaldi Station 20154 Milan Italy',
 '5 rue Louis Codet 7th arr 75007 Paris France',
 '6 rue Buffault 9th arr 75009 Paris France',
 'Josefsgasse 4 6 08 Josefstadt 1080 Vienna Austria',
 'Passeig de Gracia 84 Eixample 08008 Barcelona Spain',
 '39 40 Cleveland Square Westminster Borough London W2 6DA UK',
 '3 Boulevard Saint Michel 5th arr 75005 Paris France',
 '7 11 Rue Saint Benoit 6th arr 75006 Paris France',
 'Landstra er Hauptstra e 155 03 Landstra e 1030 Vienna Austria',
 'Margareteng rtel 142 05 Margareten 1050 Vienna Austria',
 '20 rue du Sommerard 5th arr 75005 Paris France',
 '368 370 Green Lanes London N4 1DA UK',
 '82 Dalston Lane Hackney London E8 3AH UK',
 'Ottakringer Stra e 34 36 17 Hernals 1170 Vienna Austria',
 '10 avenue Carnot 17th arr 75017 Paris France',
 'Magdalenes 13 15 Ciutat Vella 08002 Barcelona Spain',
 '50 Berners Street Westminster Borough London W1T 3NG UK',
 '4 Rue La Boetie 8th arr 75008 Paris France',
 'Prinsengracht 717 Amsterdam City Center 1017 JW Amsterdam Netherlands',
 'Piazza della Repubblica 13 Central Station 20124 Milan Italy',
 'Stadhouderskade 25 Oud Zuid 1071 ZD Amsterdam Netherlands',
 '31 Avenue George V 8th arr 75008 Paris France',
 'Via Ges 6 8 Milan City Center 20121 Milan Italy',
 'Rennweg 99 Rinnboeckstrasse 1 03 Landstra e 1030 Vienna Austria',
 'Avenida Diagonal 570 Sarri St Gervasi 08021 Barcelona Spain',
 '28 place des Vosges 3rd arr 75003 Paris France',
 '372 Strand Westminster Borough London WC2R 0JJ UK',
 'Southampton Row Bloomsbury Camden London WC1B 4AR UK',
 'Viale Monte Grappa 12 Garibaldi Station 20124 Milan Italy',
 'Avenida Meridiana 151 Sant Mart 08026 Barcelona Spain',
 '132 Boulevard Haussmann 8th arr 75008 Paris France',
 '10 rue Lamartine 9th arr 75009 Paris France',
 '17 Avenue Kl ber 16th arr 75016 Paris France',
 'Rotenturmstra e 15 01 Innere Stadt 1010 Vienna Austria',
 'Viriotgasse 5 09 Alsergrund 1090 Vienna Austria',
 'Jaume I 6 Ciutat Vella 08002 Barcelona Spain',
 'Via Gian Battista Pirelli 20 Central Station 20124 Milan Italy',
 'Via Lazzaro Palazzi 18 Central Station 20124 Milan Italy',
 '2 The Avenue Ealing London W13 8PH UK',
 'Parkring 12 01 Innere Stadt 1010 Vienna Austria',
 '81 Great Eastern Street Islington London EC2A 3HU UK',
 '6 Boulevard Vincent Auriol 13th arr 75013 Paris France',
 'Rotensterngasse 10 02 Leopoldstadt 1020 Vienna Austria',
 '4 Rue de L Isly 8th arr 75008 Paris France',
 'Via Domenico Scarlatti 32 Central Station 20124 Milan Italy',
 'Passeig de Gr cia 38 40 Eixample 08007 Barcelona Spain',
 '5 7 Rue Th r se 1st arr 75001 Paris France',
 '202 220 Cromwell Road Kensington and Chelsea London SW5 0SW UK',
 '5 Rue De Malte 11th arr 75011 Paris France',
 '10 Harrington Road Kensington and Chelsea London SW7 3ER UK',
 '19 Rue De Caumartin 9th arr 75009 Paris France',
 '214 rue du Faubourg Saint Honor 8th arr 75008 Paris France',
 'Vijzelstraat 4 Amsterdam City Center 1017 HK Amsterdam Netherlands',
 '64 Rue Crozatier 12th arr 75012 Paris France',
 'Passeig de Picasso 26 30 Ciutat Vella 08003 Barcelona Spain',
 '4 Bryanston St Marble Arch Westminster Borough London W1H 7BY UK',
 'Eerste Constantijn huygensstraat 26G Oud West 1054 BR Amsterdam Netherlands',
 '46 Westferry Circus Tower Hamlets London E14 8RS UK',
 'Via San Tomaso 8 b Milan City Center 20121 Milan Italy',
 'Via G Arimondi 12 Sempione 20155 Milan Italy',
 '216 Avenue Jean Jaures 19th arr 75019 Paris France',
 '49 rue Pierre Charron 8th arr 75008 Paris France',
 '16 London Street Paddington Westminster Borough London W2 1HL UK',
 'Viale Murillo 9 Fiera Milano City 20149 Milan Italy',
 'Ballester 77 81 Gr cia 08023 Barcelona Spain',
 'Viale Bianca Maria 4 Milan City Center 20129 Milan Italy',
 'Avinguda Catedral 7 Ciutat Vella 08002 Barcelona Spain',
 '117 129 Cromwell Road Kensington and Chelsea London SW7 4DS UK',
 'Via San Raffaele 3 Milan City Center 20121 Milan Italy',
 '19 Brent Street Brent Cross London NW4 2EU UK',
 'Via Albricci 2 4 Milan City Center 20122 Milan Italy',
 'Via Ugo Bassi 1 A Ang Via C Farini Garibaldi Station 20159 Milan Italy',
 '102 Bd De Grenelle 15th arr 75015 Paris France',
 'Via Mazzini 4 Milan City Center 20123 Milan Italy',
 '2 rue Geoffroy Marie 9th arr 75009 Paris France',
 '55 57 Avenue Raymond Poincare 16th arr 75016 Paris France',
 '173 Gloucester Place Westminster Borough London NW1 6DX UK',
 'Enrique Granados 83 Eixample 08008 Barcelona Spain',
 '28 30 Seymour Street Westminster Borough London W1H 7JB UK',
 '45 Curtain Road Hackney London EC2A 4PJ UK',
 '100 Queen s Gate Kensington and Chelsea London SW7 5AG UK',
 '28 Ebury Street Westminster Borough London SW1W 0LU UK',
 'Neubaug rtel 34 36 07 Neubau 1070 Vienna Austria',
 'Viale Suzzani 13 Bicocca Zara 20162 Milan Italy',
 '24 27 Bedford Place Bloomsbury Camden London WC1B 5JH UK',
 '336 337 Strand London Westminster Borough London WC2R 1HA UK',
 '6 Rue Pierre Demours 17th arr 75017 Paris France',
 '3 avenue Mac Mahon 17th arr 75017 Paris France',
 'Corso Giacomo Matteotti 4 6 Milan City Center 20121 Milan Italy',
 '53 Rue Richard Lenoir 11th arr 75011 Paris France',
 'Mariahilfer Stra e 57 59 06 Mariahilf 1060 Vienna Austria',
 '15 Beeston Place Westminster Borough London SW1W 0JW UK',
 '6 Via Aristotile Fioravanti Garibaldi Station 20154 Milan Italy',
 '2 4 Boundary Street Hackney London E2 7DD UK',
 'Via Dei Fontanili 26 Ripamonti Corvetto 20141 Milan Italy',
 'Via Fabio Filzi 3 Central Station 20124 Milan Italy',
 'Roger De Lluria 21 Esq Gran Via 662 Eixample 08037 Barcelona Spain',
 'Diagonal Pere IV 272 Sant Mart 08005 Barcelona Spain',
 'Via della Giustizia 10 D Bicocca Zara 20125 Milan Italy',
 'Gran Via de les Corts Catalanes 700 Eixample 08010 Barcelona Spain',
 'Plaza de Catalunya 19 Ciutat Vella 08002 Barcelona Spain',
 '239 Vauxhall Bridge Road Westminster Borough London SW1V 1EQ UK',
 '117 Poplar High Street Tower Hamlets London E14 0AE UK',
 'Avenida Rius y Taulet 1 3 Sants Montju c 08004 Barcelona Spain',
 'Roger de Lluria 28 Eixample 08010 Barcelona Spain',
 '143 Boulevard Saint Germain 6th arr 75006 Paris France',
 'Gran Via de les Corts Catalanes 644 Eixample 08007 Barcelona Spain',
 '19 avenue Kleber 16th arr 75116 Paris France',
 '57 59 Welbeck Street Westminster Borough London W1G 9BL UK',
 'La Rambla 109 Ciutat Vella 08002 Barcelona Spain',
 'Via Senato 22 Milan City Center 20121 Milan Italy',
 'Schulerstra e 14 01 Innere Stadt 1010 Vienna Austria',
 'Putget 68 Sarri St Gervasi 08023 Barcelona Spain',
 '49 53 New Road Tower Hamlets London E1 1HH UK',
 'One Ham Yard Westminster Borough London W1D 7DT UK',
 '354 Queenstown Road Battersea London SW8 4AE UK',
 'Via Messina 10 Sempione 20154 Milan Italy',
 '141 rue St Honor 1st arr 75001 Paris France',
 '71 79 Southwark Street Southwark London SE1 0JA UK',
 'Prins Hendrikkade 108 Amsterdam City Center 1011 AK Amsterdam Netherlands',
 'Carretera Vallvidrera Tibidabo 83 93 Horta Guinard 08035 Barcelona Spain',
 'Paseo de Gracia 73 Eixample 08008 Barcelona Spain',
 '8 Boulevard Beaumarchais 11th arr 75011 Paris France',
 '10 rue de Vaugirard 6th arr 75006 Paris France',
 '18 30 Lexham Gardens Kensington and Chelsea London W8 5JE UK',
 '40 trinity square City of London London EC3N 4DJ UK',
 '22 28 Broadway Westminster Borough London SW1H 0BH UK',
 'Vondelstraat 18 30 Oud West 1054 GE Amsterdam Netherlands',
 'Corso di Porta Romana 64 Milan City Center 20122 Milan Italy',
 '4 Broad Court Bow Street Covent Garden Westminster Borough London WC2B 5QZ UK',
 'Europaboulevard 10 Zuideramstel 1083 AD Amsterdam Netherlands',
 'Western Avenue Ealing London W5 1HG UK',
 '18 Albert Embankment Lambeth London SE1 7TJ UK',
 'Pla a Antonio L pez 5 Ciutat Vella 08002 Barcelona Spain',
 '61 Gloucester Road Kensington and Chelsea London SW7 4PE UK',
 '19 Boulevard De La Tour Maubourg 7th arr 75007 Paris France',
 '23 Leinster Gardens Westminster Borough London W2 3AN UK',
 'Rambla Catalunya 7 9 Eixample 08007 Barcelona Spain',
 '18 rue de Constantinople 8th arr 75008 Paris France',
 '8 10 Queensberry Place Kensington and Chelsea London SW7 2EA UK',
 '33 Beaufort Gardens Kensington and Chelsea London SW3 1PP UK',
 '11 Knightsbridge Westminster Borough London SW1X 7LY UK',
 'Villarroel 106 Eixample 08011 Barcelona Spain',
 'Via Laietana 30 Ciutat Vella 08003 Barcelona Spain',
 '2 Spring Gardens Trafalgar Square Westminster Borough London SW1A 2TS UK',
 '99 Bis Rue De Rome 17th arr 75017 Paris France',
 'Avenida Diagonal 1 Sant Mart 08019 Barcelona Spain',
 '5 rue de Ponthieu 8th arr 75008 Paris France',
 'Corso Di Porta Nuova 1 Milan City Center 20121 Milan Italy',
 '2 rue de Gramont 2nd arr 75002 Paris France',
 'Via Gaetano Airaghi 125 20153 Milan Italy',
 '7 9 Copthall Avenue City of London London EC2R 7NJ UK',
 '38 Rue Du Faubourg Saint Honore 8th arr 75008 Paris France',
 'Mallorca 181 Eixample 08036 Barcelona Spain',
 '32 Rue Greuze 16th arr 75016 Paris France',
 '22 Rue Danielle Casanova 1st arr 75002 Paris France',
 '6 Avenue Montaigne 8th arr 75008 Paris France',
 '335 337 Old Street Hackney London EC1V 9LL UK',
 'Avenida Diagonal 568 Sarri St Gervasi 08021 Barcelona Spain',
 'Via Baracchini 12 Milan City Center 20123 Milan Italy',
 '16 rue d Edimbourg 8th arr 75008 Paris France',
 'Via Masaccio 19 Fiera Milano City 20149 Milan Italy',
 '41 Great Cumberland Place Westminster Borough London W1H 7LG UK',
 'Hernalser Hauptstra e 105 17 Hernals 1170 Vienna Austria',
 '53 59 Kilburn High Road Maida Vale London Camden London NW6 5SB UK',
 '40 rue de Lille 7th arr 75007 Paris France',
 'K rntnerstra e 18 Eingang Neuer Markt 3 01 Innere Stadt 1010 Vienna Austria',
 '7 rue d Argenson 8th arr 75008 Paris France',
 'Chelsea Harbour Hammersmith and Fulham London SW10 0XG UK',
 'Mallorca 216 Eixample 08008 Barcelona Spain',
 '98 Avenue d Italie 13th arr 75013 Paris France',
 '3 Devonshire Terrace Westminster Borough London W2 3DN UK',
 '37 Nottingham Place Westminster Borough London W1U 5LT UK',
 'Stratton Street Mayfair Westminster Borough London W1J 8LT UK',
 '10 Bina Gardens South Kensington Kensington and Chelsea London SW5 0LA UK',
 '34 rue de Moscou 8th arr 75008 Paris France',
 '60 Hyde Park gate Kensington and Chelsea London SW7 5BB UK',
 '53 61 Southwark Bridge Road Southwark London SE1 9HH UK',
 '22 rue d Antin 2nd arr 75002 Paris France',
 'Dorotheergasse 3 01 Innere Stadt 1010 Vienna Austria',
 '9 11 Sydney Street Kensington and Chelsea London SW3 6PU UK',
 'Keizersgracht 148 Amsterdam City Center 1015 CX Amsterdam Netherlands',
 '85 Rue De Bercy 12th arr 75012 Paris France',
 '7 11 Queensberry Place Kensington and Chelsea London SW7 2DL UK',
 '19 Rue Vernet 8th arr 75008 Paris France',
 'Baumgasse 83 03 Landstra e 1030 Vienna Austria',
 '7 Gracechurch Street City of London London EC3V 0DR UK',
 '55 rue Monge 5th arr 75005 Paris France',
 'Rotensterngasse 7a 02 Leopoldstadt 1020 Vienna Austria',
 '81 103 Euston Street Camden London NW1 2EZ UK',
 '36 rue Saint Ferdinand 17th arr 75017 Paris France',
 'Avinguda Paral lel 76 78 Ciutat Vella 08001 Barcelona Spain',
 'Coburgbastei 4 01 Innere Stadt 1010 Vienna Austria',
 'Hietzinger Hauptstra e 10 14 13 Hietzing 1130 Vienna Austria',
 '33 Rue Dauphine 6th arr 75006 Paris France',
 'Corso Buenos Aires 33 Central Station 20124 Milan Italy',
 '407 Goldhawk Rd Chiswick London W6 0SA UK',
 'Wrights Lane Kensington and Chelsea London W8 5SP UK',
 '16 rue de Berri 8th arr 75008 Paris France',
 'Via Pietro Orseolo 1 Navigli 20144 Milan Italy',
 '68 Boulevard De Clichy 18th arr 75018 Paris France',
 'Wilton Place Knightsbridge Westminster Borough London SW1X 7RL UK',
 'Sancho de vila 32 34 Sant Mart 08018 Barcelona Spain',
 '150 Piccadilly Westminster Borough London W1J 9BR UK',
 'De Boelelaan 2 Zuideramstel 1083 HJ Amsterdam Netherlands',
 'Kattengat 1 Amsterdam City Center 1012 SZ Amsterdam Netherlands',
 '13 Rue Jules Cesar 12th arr 75012 Paris France',
 '41 rue de Clichy 9th arr 75009 Paris France',
 '22 24 Rue Faidherbe 11th arr 75011 Paris France',
 'Via Senato 5 Milan City Center 20121 Milan Italy',
 '13 rue Geoffroy Marie 9th arr 75009 Paris France',
 '11 rue Paul Baudry 8th arr 75008 Paris France',
 'Via Monte Rosa 90 Fiera Milano City 20149 Milan Italy',
 'Ausi s Marc 34 Eixample 08010 Barcelona Spain',
 '22 rue de Buci 6th arr 75006 Paris France',
 'Balmes 142 146 Eixample 08008 Barcelona Spain',
 '23 Mecklenburgh Square Camden London WC1N 2AD UK',
 'Empire Way Wembley Brent London HA9 8DS UK',
 'Sch nbrunner Schlossstra e 38 40 12 Meidling 1120 Vienna Austria',
 'Karspeldreef 2 Zuidoost 1101 CJ Amsterdam Netherlands',

In [16]:
df['Hotel_Country'] = df['Hotel_Address'].str.split().str[-1]

In [17]:
set(df['Hotel_Country'])

{'Austria', 'France', 'Italy', 'Netherlands', 'Spain', 'UK'}

In [18]:
df_parquet = df.to_parquet("../data/hotel_reviews.parquet", compression="brotli")

In [19]:
pd.read_parquet("../data/hotel_reviews.parquet")

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,Hotel_Country
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Netherlands
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-08-03,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,Netherlands
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-31,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,Netherlands
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-31,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,Netherlands
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,2017-07-24,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,Netherlands
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,2015-08-30,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677,Austria
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,2015-08-22,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677,Austria
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,2015-08-19,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677,Austria
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,2015-08-17,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677,Austria
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,2015-08-09,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677,Austria